.section-container {
  padding: 16px;
 
  
}
.tabla{
  width: 170vh;
display: flex;
align-items: center;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.tablacont{
  width: 100%;
}
.botonRegistrar{
display: flex;
margin-left: 1000px;
margin-bottom: 50px;
}
